#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.mainText {
    margin-bottom: 20px;
}

.todo {
    border-radius: 8px;
}
.input {
    background: #6f8587;
    height: 34px;
    border: 3px solid transparent;
    padding-left: 1rem;
    color: #F8EEDF; 
    border-radius: 8px;
}
.input::placeholder {
    color: #F8EEDF;
}

button:hover {
    border-color: #213547;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #1a1a1d;
        background-color: #2e2e30;
    }
    a:hover {
        color: #1a1a1d;
    }
    button {
        background-color: #F8EEDF;
    }
}

.todoList {
    margin-top: 20px;
    list-style-type: none;
    font-weight: bold;
    color: #F8EEDF;

    border-radius: 4px;
}

/* .todoItem{
  height: 4rem;
  text-align: left;
  padding-left: 12px;
  padding-right: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #8F9685;

} */

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    height: 4rem;
    background: #a64d79;
    border-radius: 4px;
}

.todoItem:hover {
    background: #6a1e55;
}

.taskContent {
    display: flex;
    align-items: center;
    gap: 8px;
}

.todoItemDone {
    background: #7ab32c;
}

.todoItemDone:hover {
    background: #639124;
}

.deleteBtn {
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.deleteBtn:hover {
    opacity: 1;
}

.todoItem:hover .deleteBtn {
    opacity: 1;
}

